{% for mysql_environment in mysql_environments %}
  {% for item in mysql_environments[mysql_environment]%}
    {% set db_user = item.user  %}
    {% set db_name = mysql_db_prefix + '_' + item.database  %}

/* {{ db_user }} */
/* Create {{ db_name }} database if it doesn't exist */
CREATE DATABASE IF NOT EXISTS {{ db_name }};
CREATE USER IF NOT EXISTS  '{{ db_user }}'@'%' IDENTIFIED WITH mysql_native_password BY '{{ item.password }}';
/* Grant all privilidges on {{ mysql_db_prefix }}_{{ item.database }} to {{ mysql_db_prefix }} */
GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
  {% endfor %}
{% endfor %}
