version: "3.8"

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: "{{ project_name }}_phpmyadmin"
    environment:
      - PMA_HOST={{ pma_db_host }}
      - PMA_PORT={{ pma_db_port }}
      - UPLOAD_LIMIT=100M
    networks:
      - ot_network
    labels:
      - traefik.enable=true
      - traefik.http.routers.pma.rule=Host("pma.{{ app_domain }}")
      - traefik.http.routers.pma.tls.certresolver=leresolver
      - traefik.http.routers.pma.entrypoints=websecure
      # Authentication
      - "traefik.http.middlewares.pma_auth.basicauth.users={{ pma_auth }}"
      - "traefik.http.routers.pma.middlewares=pma_auth"

networks:
  ot_network:
    external: true
